/*************************************************************************
 * Your custom CSS file
 *************************************************************************/

.menu {
  max-width: 1050px;
}

.menu .menu-table {
  max-width: 1050px;
}

.banner .flex-item {
  max-width: 1050px;
}

.menu .menu-items .dropdown i {
  color: #000000;
}

.menu .menu-items>a,
.menu .menu-items>div {
  color: rgb(0, 0, 0, 0.8);
}

.menu .menu-items>a:hover,
.menu .menu-items>div:hover {
  color: rgb(0, 0, 0);
}

.menu-container {
  background-color: white;
}

.banner {
  background-color: rgb(96, 91, 211);
}

h2,
h3 {
  color: rgb(96, 91, 211);
}

.custom-dropdown {
  width: 240px;
}

.custom-textbox {
  width: 240px;
}

#dialog-1,
#dialog-2,
#dialog-3,
#dialog-4,
#share-dialog {
  display: none;
}

#share-url {
  width: 100%;
  -webkit-touch-callout: default !important;
  -webkit-user-select: text !important;
  -khtml-user-select: text !important;
  -moz-user-select: text !important;
  -ms-user-select: text !important;
  user-select: text !important;
}

#share-url-copy-prompt {
  display: none;
  color: #007bff;
}

@media screen and (max-width: 1050px) {

  .menu .menu-items>a,
  .menu .menu-items>div {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }

  .menu .menu-items .dropdown .dropdown-content a {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.8);
  }
}